body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u526 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  display:flex;
}
#u526 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u526_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u527_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:593px;
}
#u527 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:59px;
  width:189px;
  height:593px;
  display:flex;
}
#u527 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u527_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u528 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:59px;
  width:189px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u529 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:103px;
  width:189px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u530 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:145px;
  width:189px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u531 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:187px;
  width:189px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u532 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:229px;
  width:189px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u533 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:259px;
  width:189px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u534 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:297px;
  width:189px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u535 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:335px;
  width:189px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u536 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:370px;
  width:189px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u537 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:405px;
  width:189px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u538 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:440px;
  width:189px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u539 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:475px;
  width:189px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u540 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:510px;
  width:189px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u541 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:545px;
  width:189px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u542 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:580px;
  width:189px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u543 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:9px;
  width:49px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
