body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u544 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:1920px;
  height:1080px;
  display:flex;
}
#u544 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u544_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u545 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:281px;
}
#u546 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:374px;
  width:331px;
  height:281px;
  display:flex;
  color:rgba(255, 255, 255, 0.298039215686275);
}
#u546 .text {
  position:absolute;
  align-self:center;
  padding:120px 2px 2px 120px;
  box-sizing:border-box;
  width:100%;
}
#u546_img.mouseOver {
}
#u546.mouseOver {
}
#u546_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:111px;
}
#u547 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:471px;
  width:67px;
  height:111px;
  display:flex;
  color:rgba(255, 255, 255, 0.298039215686275);
}
#u547 .text {
  position:absolute;
  align-self:center;
  padding:20px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u547_img.mouseOver {
}
#u547.mouseOver {
}
#u547_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:106px;
}
#u548 {
  border-width:0px;
  position:absolute;
  left:1265px;
  top:570px;
  width:138px;
  height:106px;
  display:flex;
  color:rgba(255, 255, 255, 0.298039215686275);
}
#u548 .text {
  position:absolute;
  align-self:flex-start;
  padding:30px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u548_img.mouseOver {
}
#u548.mouseOver {
}
#u548_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:183px;
}
#u549 {
  border-width:0px;
  position:absolute;
  left:1193px;
  top:367px;
  width:128px;
  height:183px;
  display:flex;
  color:rgba(255, 255, 255, 0.298039215686275);
  text-align:left;
}
#u549 .text {
  position:absolute;
  align-self:center;
  padding:60px 2px 2px 28px;
  box-sizing:border-box;
  width:100%;
}
#u549_img.mouseOver {
}
#u549.mouseOver {
}
#u549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:277px;
}
#u550 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:519px;
  width:456px;
  height:277px;
  display:flex;
  color:rgba(255, 255, 255, 0.298039215686275);
}
#u550 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u550_img.mouseOver {
}
#u550.mouseOver {
}
#u550_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:442px;
}
#u551 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:76px;
  width:519px;
  height:442px;
  display:flex;
  color:rgba(255, 255, 255, 0.298039215686275);
}
#u551 .text {
  position:absolute;
  align-self:center;
  padding:260px 0px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u551_img.mouseOver {
}
#u551.mouseOver {
}
#u551_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:359px;
}
#u552 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:181px;
  width:473px;
  height:359px;
  display:flex;
  color:rgba(255, 255, 255, 0.298039215686275);
}
#u552 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u552_img.mouseOver {
}
#u552.mouseOver {
}
#u552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:213px;
}
#u553 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:461px;
  width:295px;
  height:213px;
  display:flex;
  color:rgba(255, 255, 255, 0.298039215686275);
}
#u553 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u553_img.mouseOver {
}
#u553.mouseOver {
}
#u553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:225px;
}
#u554 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:610px;
  width:255px;
  height:225px;
  display:flex;
  color:rgba(255, 255, 255, 0.298039215686275);
  text-align:left;
}
#u554 .text {
  position:absolute;
  align-self:flex-start;
  padding:80px 2px 2px 110px;
  box-sizing:border-box;
  width:100%;
}
#u554_img.mouseOver {
}
#u554.mouseOver {
}
#u554_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:216px;
}
#u555 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:750px;
  width:207px;
  height:216px;
  display:flex;
  color:rgba(255, 255, 255, 0.298039215686275);
  text-align:left;
}
#u555 .text {
  position:absolute;
  align-self:center;
  padding:30px 2px 2px 80px;
  box-sizing:border-box;
  width:100%;
}
#u555_img.mouseOver {
}
#u555.mouseOver {
}
#u555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:121px;
}
#u556 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:747px;
  width:141px;
  height:121px;
  display:flex;
  color:rgba(255, 255, 255, 0.298039215686275);
}
#u556 .text {
  position:absolute;
  align-self:center;
  padding:40px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u556_img.mouseOver {
}
#u556.mouseOver {
}
#u556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:140px;
}
#u557 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:820px;
  width:183px;
  height:140px;
  display:flex;
  color:rgba(255, 255, 255, 0.298039215686275);
}
#u557 .text {
  position:absolute;
  align-self:center;
  padding:16px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u557_img.mouseOver {
}
#u557.mouseOver {
}
#u557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:106px;
}
#u558 {
  border-width:0px;
  position:absolute;
  left:1026px;
  top:668px;
  width:104px;
  height:106px;
  display:flex;
  color:rgba(255, 255, 255, 0.298039215686275);
}
#u558 .text {
  position:absolute;
  align-self:center;
  padding:20px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u558_img.mouseOver {
}
#u558.mouseOver {
}
#u558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:211px;
}
#u559 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:465px;
  width:117px;
  height:211px;
  display:flex;
  color:rgba(255, 255, 255, 0.298039215686275);
}
#u559 .text {
  position:absolute;
  align-self:center;
  padding:40px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u559_img.mouseOver {
}
#u559.mouseOver {
}
#u559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:172px;
}
#u560 {
  border-width:0px;
  position:absolute;
  left:1127px;
  top:427px;
  width:80px;
  height:172px;
  display:flex;
  color:rgba(255, 255, 255, 0.298039215686275);
}
#u560 .text {
  position:absolute;
  align-self:center;
  padding:60px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u560_img.mouseOver {
}
#u560.mouseOver {
}
#u560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:146px;
}
#u561 {
  border-width:0px;
  position:absolute;
  left:1108px;
  top:719px;
  width:126px;
  height:146px;
  display:flex;
  color:rgba(255, 255, 255, 0.298039215686275);
}
#u561 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u561_img.mouseOver {
}
#u561.mouseOver {
}
#u561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:111px;
}
#u562 {
  border-width:0px;
  position:absolute;
  left:1094px;
  top:636px;
  width:178px;
  height:111px;
  display:flex;
  color:rgba(255, 255, 255, 0.298039215686275);
}
#u562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u562_img.mouseOver {
}
#u562.mouseOver {
}
#u562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:147px;
}
#u563 {
  border-width:0px;
  position:absolute;
  left:1132px;
  top:840px;
  width:185px;
  height:147px;
  display:flex;
  color:rgba(255, 255, 255, 0.298039215686275);
}
#u563 .text {
  position:absolute;
  align-self:flex-start;
  padding:40px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u563_img.mouseOver {
}
#u563.mouseOver {
}
#u563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:150px;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:1219px;
  top:714px;
  width:112px;
  height:150px;
  display:flex;
  color:rgba(255, 255, 255, 0.298039215686275);
  text-align:left;
}
#u564 .text {
  position:absolute;
  align-self:flex-start;
  padding:40px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u564_img.mouseOver {
}
#u564.mouseOver {
}
#u564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:127px;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:1277px;
  top:753px;
  width:103px;
  height:127px;
  display:flex;
  color:rgba(255, 255, 255, 0.298039215686275);
}
#u565 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u565_img.mouseOver {
}
#u565.mouseOver {
}
#u565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:103px;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:1322px;
  top:674px;
  width:88px;
  height:103px;
  display:flex;
  color:rgba(255, 255, 255, 0.298039215686275);
}
#u566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u566_img.mouseOver {
}
#u566.mouseOver {
}
#u566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:137px;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:1237px;
  top:587px;
  width:112px;
  height:137px;
  display:flex;
  color:rgba(255, 255, 255, 0.298039215686275);
}
#u567 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u567_img.mouseOver {
}
#u567.mouseOver {
}
#u567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:44px;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:1259px;
  top:430px;
  width:30px;
  height:44px;
  display:flex;
  color:rgba(255, 255, 255, 0.298039215686275);
}
#u568 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u568_img.mouseOver {
}
#u568.mouseOver {
}
#u568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:43px;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:1229px;
  top:411px;
  width:41px;
  height:43px;
  display:flex;
  color:rgba(255, 255, 255, 0.298039215686275);
}
#u569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u569_img.mouseOver {
}
#u569.mouseOver {
}
#u569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:131px;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:1295px;
  top:329px;
  width:137px;
  height:131px;
  display:flex;
  color:rgba(255, 255, 255, 0.298039215686275);
}
#u570 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u570_img.mouseOver {
}
#u570.mouseOver {
}
#u570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:133px;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:1325px;
  top:252px;
  width:195px;
  height:133px;
  display:flex;
  color:rgba(255, 255, 255, 0.298039215686275);
}
#u571 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 60px;
  box-sizing:border-box;
  width:100%;
}
#u571_img.mouseOver {
}
#u571.mouseOver {
}
#u571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:238px;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:1285px;
  top:65px;
  width:261px;
  height:238px;
  display:flex;
  color:rgba(255, 255, 255, 0.298039215686275);
}
#u572 .text {
  position:absolute;
  align-self:center;
  padding:100px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u572_img.mouseOver {
}
#u572.mouseOver {
}
#u572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:99px;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:1232px;
  top:489px;
  width:158px;
  height:99px;
  display:flex;
  color:rgba(255, 255, 255, 0.298039215686275);
  text-align:left;
}
#u573 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 60px;
  box-sizing:border-box;
  width:100%;
}
#u573_img.mouseOver {
}
#u573.mouseOver {
}
#u573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:1380px;
  top:652px;
  width:26px;
  height:23px;
  display:flex;
  color:rgba(255, 255, 255, 0.298039215686275);
}
#u574 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u574_img.mouseOver {
}
#u574.mouseOver {
}
#u574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:134px;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:541px;
  width:136px;
  height:134px;
  display:flex;
  color:rgba(255, 255, 255, 0.298039215686275);
}
#u575 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u575_img.mouseOver {
}
#u575.mouseOver {
}
#u575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:93px;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:1387px;
  top:825px;
  width:40px;
  height:93px;
  display:flex;
  color:rgba(255, 255, 255, 0.298039215686275);
}
#u576 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u576_img.mouseOver {
}
#u576.mouseOver {
}
#u576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:51px;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:1104px;
  top:990px;
  width:59px;
  height:51px;
  display:flex;
  color:rgba(255, 255, 255, 0.298039215686275);
}
#u577 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u577_img.mouseOver {
}
#u577.mouseOver {
}
#u577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:126px;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:1448px;
  top:915px;
  width:98px;
  height:126px;
  display:flex;
  color:rgba(255, 255, 255, 0.298039215686275);
}
#u578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u578_img.mouseOver {
}
#u578.mouseOver {
}
#u578_img.selected {
}
#u578.selected {
}
#u578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u580 {
  position:absolute;
  left:955px;
  top:849px;
}
#u580_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:14px;
  height:-23px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u580_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(52, 224, 168, 1);
  border-radius:800px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-56px;
  width:14px;
  height:14px;
  display:flex;
}
#u581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(52, 224, 168, 1);
  border-radius:800px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-56px;
  width:14px;
  height:14px;
  display:flex;
}
#u582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(52, 224, 168, 1);
  border-radius:800px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-56px;
  width:14px;
  height:14px;
  display:flex;
}
#u583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(52, 224, 168, 1);
  border-radius:800px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-56px;
  width:14px;
  height:14px;
  display:flex;
}
#u584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#01FFF0;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-40px;
  width:52px;
  height:17px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#01FFF0;
}
#u585 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u585_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u586 {
  position:absolute;
  left:1076px;
  top:711px;
}
#u586_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:32px;
  height:42px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u586_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(52, 224, 168, 1);
  border-radius:800px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  display:flex;
}
#u587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(52, 224, 168, 1);
  border-radius:800px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  display:flex;
}
#u588 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(52, 224, 168, 1);
  border-radius:800px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  display:flex;
}
#u589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(52, 224, 168, 1);
  border-radius:800px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  display:flex;
}
#u590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#01FFF0;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:25px;
  width:52px;
  height:17px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#01FFF0;
}
#u591 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u591_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u592 {
  position:absolute;
  left:625px;
  top:670px;
}
#u592_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:419px;
  height:71px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u592_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(52, 224, 168, 1);
  border-radius:800px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:36px;
  width:14px;
  height:14px;
  display:flex;
}
#u593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(52, 224, 168, 1);
  border-radius:800px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:36px;
  width:14px;
  height:14px;
  display:flex;
}
#u594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(52, 224, 168, 1);
  border-radius:800px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:36px;
  width:14px;
  height:14px;
  display:flex;
}
#u595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(52, 224, 168, 1);
  border-radius:800px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:36px;
  width:14px;
  height:14px;
  display:flex;
}
#u596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#01FFF0;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:54px;
  width:52px;
  height:17px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#01FFF0;
}
#u597 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u597_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u598 {
  position:absolute;
  left:885px;
  top:538px;
}
#u598_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:572px;
  height:-127px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u598_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(52, 224, 168, 1);
  border-radius:800px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:-159px;
  width:14px;
  height:14px;
  display:flex;
}
#u599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(52, 224, 168, 1);
  border-radius:800px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:-160px;
  width:14px;
  height:14px;
  display:flex;
}
#u600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(52, 224, 168, 1);
  border-radius:800px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:-160px;
  width:14px;
  height:14px;
  display:flex;
}
#u601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(52, 224, 168, 1);
  border-radius:800px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:-158px;
  width:14px;
  height:11px;
  display:flex;
}
#u602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#01FFF0;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:-144px;
  width:52px;
  height:17px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#01FFF0;
}
#u603 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u603_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u604 {
  position:absolute;
  left:1126px;
  top:436px;
}
#u604_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:316px;
  height:-7px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u604_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(52, 224, 168, 1);
  border-radius:800px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:-42px;
  width:14px;
  height:14px;
  display:flex;
}
#u605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(52, 224, 168, 1);
  border-radius:800px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:-42px;
  width:14px;
  height:14px;
  display:flex;
}
#u606 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(52, 224, 168, 1);
  border-radius:800px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u607 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:-42px;
  width:14px;
  height:14px;
  display:flex;
}
#u607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(52, 224, 168, 1);
  border-radius:800px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u608 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:-42px;
  width:14px;
  height:14px;
  display:flex;
}
#u608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#01FFF0;
}
#u609 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:-24px;
  width:52px;
  height:17px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#01FFF0;
}
#u609 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u609_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u610 {
  position:absolute;
  left:1412px;
  top:298px;
}
#u610_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:10px;
  height:153px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u610_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(52, 224, 168, 1);
  border-radius:800px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:116px;
  width:14px;
  height:14px;
  display:flex;
}
#u611 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(52, 224, 168, 1);
  border-radius:800px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:116px;
  width:14px;
  height:14px;
  display:flex;
}
#u612 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u612_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(52, 224, 168, 1);
  border-radius:800px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:116px;
  width:14px;
  height:14px;
  display:flex;
}
#u613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(52, 224, 168, 1);
  border-radius:800px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:116px;
  width:14px;
  height:14px;
  display:flex;
}
#u614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#01FFF0;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:-81px;
  top:136px;
  width:91px;
  height:17px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#01FFF0;
}
#u615 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u615_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:593px;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:59px;
  width:189px;
  height:593px;
  display:flex;
}
#u616 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:59px;
  width:189px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u618 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:103px;
  width:189px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u619 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:145px;
  width:189px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u620 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:187px;
  width:189px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u621 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:229px;
  width:189px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u622 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:259px;
  width:189px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u623 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:297px;
  width:189px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u624 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:335px;
  width:189px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u625 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:370px;
  width:189px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u626 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:405px;
  width:189px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u627 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:440px;
  width:189px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u628 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:475px;
  width:189px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u629 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:510px;
  width:189px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u630 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:545px;
  width:189px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u631 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:580px;
  width:189px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u632 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:9px;
  width:49px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
